input {
  border-radius: 10px;
  border: none;
  background-color: cadetblue;
  color: white;
  padding: 10px;
  font-size: 13px;
  margin: 0px 10px;
  outline: none;
}

.boton-agregar {
  color: white;
  font-weight: bold;
  background-color: rgb(255, 115, 115);
  border: none;
  border-radius: 10px;
  padding: 10px;
}
